@page "/edit/{id:int}"

@inject NavigationManager navmanager
@inject PlayerService playerservice

<h3>@player.Name details!</h3>

<EditForm Model="@player" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <div class="row my-3">
        <label for="id" class="col-sm-2 col-form-label">
            id:
        </label>
        <div class="col-sm-6">
            <InputNumber disabled id="id" class="form-control"
                       @bind-Value="id"/>
        </div>
    </div>

    <div class="row my-3">
        <label for="name" class="col-sm-2 col-form-label">
            name:
        </label>
        <div class="col-sm-6">
            <InputText id="name" class="form-control"
                       @bind-Value="player.Name" />
        </div>
    </div>

    <div class="row my-3">
        <label for="country" class="col-sm-2 col-form-label">
            country:
        </label>
        <div class="col-sm-6">
            <InputText id="country" class="form-control"
                         @bind-Value="player.Country" />
        </div>
    </div>

    <div class="row my-3">
        <label for="points" class="col-sm-2 col-form-label">
            points:
        </label>
        <div class="col-sm-6">
            <InputNumber id="points" class="form-control"
                         @bind-Value="player.Points" />
        </div>
    </div>
    <ValidationSummary />
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/players" class="btn btn-danger">Cancel</a>
</EditForm>

@code {
    [Parameter]
    public int id { get; set;}
    public PlayerViewModel player { get; set; } = new PlayerViewModel();

    protected async override Task OnInitializedAsync()
    {
        player = await playerservice.GetPlayer(id);
    }

    private async void Save()
    {
            await playerservice.UpdatePlayer(player, id);
            navmanager.NavigateTo($"/players");
    }
}
