@page "/players"
@inject NavigationManager navmanager

<h3>Players</h3>

<table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>County</th>
            <th>Points</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in PlayersList)
        {
            <tr>
                <td>@x.Rank</td>
                <td>@x.Name</td>
                <td>@x.Country</td>
                <td>@x.Points</td>
                <td>
                    <button type="button" class="btn btn-secondary" @onclick="() => DeletePlayer(x.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"></path>
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Inject]
    public PlayerService PlayerService { get; set; }
    public List<Player> PlayersList { get; set; } = new List<Player>();

    protected override async Task OnInitializedAsync()
    {
        PlayersList = (await PlayerService.GetPlayers()).ToList();
    }

    private async Task DeletePlayer(int id)
    {
        await PlayerService.DeletePlayer(id);
        navmanager.Refresh();
    }
}
